body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 150px calc(100vh - 150px) / 250px 1fr;
    font-family: helvetica, sans-serif;
    margin: 0;
}

.sidebar {
    background-color: #7c3aed;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid: 40px 30px repeat(6, 40px) 30px repeat(3, 40px) / 45px 1fr;
    padding: 25px 25px 0;
    font-weight: bold;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px;
    align-content: center;
    margin: 0 20px 0;
}

.logo {
    display: grid;
    grid: 9px 6px 9px / repeat(2, 14px);
    gap: 4px;
    align-content: center;
}

.logo div {
    background-color: white;
}

.logo div:nth-child(1) {
    grid-row: 1 / span 2;
}

.logo div:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.sidebar .heading, .sidebar .material-icons, .sidebar .title {
    display: grid;
    align-items: center;
}

.sidebar .title {
    font-size: 22px;
}

.header i {
    color: #7c3aed;
}

.top-header {
    display: grid;
    grid-template-columns: 40px 1fr 20% 50px 50px 150px;
    height: 40px;
    align-items: center;
    padding-bottom: 10px;
}

.bottom-header {
    display: grid;
    grid-template-columns: 75px 1fr repeat(3, 100px);
    gap: 10px;
    align-items: center;
}

.search {
    background-color: #e2e8f0;
    min-width: 10px;
    border-radius: 20px;
    height: 25px;
}

.top-header .name {
    justify-self: center;
    font-weight: bold;
}

.bottom-header p {
    margin: 0;
}

.bottom-header h2 {
    margin: 5px 0;
    font-size: 25px;
}

.button {
    background-color: #7c3aed;
    color: white;
    padding: 10px;
    width: 70px;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    height: 16px;
    font-size: 14px;
}

.button:hover {
    background-color: #8b5cf6;
}

.logo.title {
    font-weight: bold;
    font-size: 20px;
}

.body {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 50px 1fr 50px 1fr / 2fr 260px;
    column-gap: 20px;
    padding: 10px 20px 40px;
}

.body div {
    background-color: white;
    border-radius: 10px;
}

div.projects {
    grid-area: 2 / 1 / 5 / 2;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    background-color: #e2e8f0;
    gap: 20px;
}

div.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 30px 0;
    width: 200px;
    box-shadow: 3px 3px 5px #cbd5e1;
}

div.trending {
    display: grid;
    grid: repeat(4, 1fr) / 50px 1fr;
    padding: 20px 30px 20px;
    width: 200px;
    gap: 20px 5px;
    align-items: center;
    box-shadow: 3px 3px 5px #cbd5e1;
}

h3.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.project {
    display: grid;
    grid: 1fr 40px / 10px 1fr;
    box-shadow: 3px 3px 5px #cbd5e1;
}

.project .border {
    background-color: #f43f5e;
    grid-area: 1 / 1 / 3 / 2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.project .icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
    margin: 0 25px 0 0;
}

.project i {
    display: grid;
    justify-content: end;
}

.announcements p {
    font-size: 10px;
    margin-top: 2px;
    padding-bottom: 15px;
    width: 35ch;
}

.announcement:not(.last) p {
    border-bottom: 1px solid #e2e8f0;
}

.announcement.last {
    padding-bottom: 0;
    margin-bottom: 0;
}

.announcement h4 {
    margin: 0;
}

.trending h5, .trending p {
    margin: 0;
    font-size: 12px;
}

.project .text {
    margin: 15px 15px 0;
}

.project h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

.project p {
    margin: 0;
    max-width: 80ch;
    font-size: 12px;
    line-height: 17px;
}

img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.bottom-header img {
    height: 64px;
    width: 64px;
}

@media only screen and (max-width: 1100px) {
    .bottom-header h2 {
        font-size: 20px;
    }
  }